* {
    box-sizing: border-box;
}

/* set the background image and font style default */
body {
    background-image: url(../images/muirWoods.png); /* https://wallpaperstudio10.com/wallpaper-nature_nationalpark-83675.html */
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: "Fredericka the Great", "Palatino Linotype", "Book Antiqua", Palatino, serif;
    text-align: center;
    background-repeat: no-repeat;
    font-size: 1em;
    color: #fff;
    margin: 0 auto;
}

.content {
    background: rgba(50, 50, 50, 0.7);
    height: 49em;
    margin-top: 4em;
    margin-bottom: 4em;
    margin-right: 5em;
    margin-left: 5em;
    padding: 18em 0;
    border: .001em solid rgb(115, 173, 33);
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 4em;
}

.btn-light {
    font-size: 2em;
}

.btn-light:hover {
    color: rgb(115, 173, 33);
}

#timeRemaining {
    font-size: 2em; 
    margin-bottom: 1em;
}

.questionTracker {
    font-size: 1.5em;
    color: rgb(115, 173, 33);
    margin-bottom: 1em;
}

.question {
    font-size: 3.5em;
    margin-bottom: .5em;
}

.thisChoice {
    font-size: 1.2em;
    line-height: 2em;
}


.thisChoice:hover {
    background: rgb(115, 173, 33);
}

.message {
    font-size: 3em;
    margin-bottom: .5em;
}

.correctedAnswer {
    font-size: 1.2em;
    margin-bottom: .6em;
}

.finalMessage {
    font-size: 3em;
    color: rgb(115, 173, 33);
    margin-bottom: 1em;
}

.correctAnswers, .incorrectAnswers, .unanswered {
    font-size: 1.5em;
    line-height: 2em;
}

.unanswered {
    margin-bottom: 3.5em;
}

.startOver {
    font-size: 2em;
}

.startOver:hover {
    color: rgb(115, 173, 33);
}