* {
    box-sizing: border-box;
}

/* set the background image and font style default */
body {
    background-image: url(../images/muirWoods.png); /* https://wallpaperstudio10.com/wallpaper-nature_nationalpark-83675.html */
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: "Fredericka the Great", "Palatino Linotype", "Book Antiqua", Palatino, serif;
    text-align: center;
    background-repeat: no-repeat;
    font-size: 1em;
    color: #fff;
    margin: 0 auto;
}

.content {
    background: rgba(50, 50, 50, 0.7);
    height: 49em;
    margin-top: 4em;
    margin-bottom: 4em;
    margin-right: 5em;
    margin-left: 5em;
    padding: 18em 0;
    border: .001em solid rgb(115, 173, 33);
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 4em;
}

.btn-light {
    font-size: 2em;
}

.btn-light:hover {
    color: rgb(115, 173, 33);
}

#timeRemaining {
    font-size: 2em; 
    margin-bottom: 1em;
}

.questionTracker {
    font-size: 1.5em;
    color: rgb(115, 173, 33);
    margin-bottom: 1em;
}

.question {
    font-size: 3.5em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: .5em;
}

.thisChoice {
    font-size: 1.2em;
    line-height: 2em;
}


.thisChoice:hover {
    background: rgb(115, 173, 33);
}

.message {
    font-size: 3em;
    margin-bottom: .5em;
}

.correctedAnswer {
    font-size: 1.2em;
    margin-bottom: .6em;
}

.finalMessage {
    font-size: 3em;
    color: rgb(115, 173, 33);
    margin-bottom: 1em;
}

.correctAnswers, .incorrectAnswers, .unanswered {
    font-size: 1.5em;
    line-height: 2em;
}

.unanswered {
    margin-bottom: 3.5em;
}

.startOver {
    font-size: 2em;
}

.startOver:hover {
    color: rgb(115, 173, 33);
}
.imgStyle {
    border: .4em ridge rgb(130, 82, 1);
}



/* mobile responsive */
@media screen and (max-width: 1030px){
	.content{
		height: 76em;
        margin-top: 4em;
        margin-bottom: 4em;
        margin-right: 5em;
        margin-left: 5em;
        padding: 20em 0;
    }
    #timeRemaining {
        font-size: 3em; 
    }
    .questionTracker {
        font-size: 2em;
        margin-bottom: 3em;
    }
    h2, .question {
        margin-bottom: 1em;
    }
    .message {
        margin-bottom: 1.3em;
    }
    .thisChoice, .correctedAnswer {
        font-size: 2.5em;
        line-height: 2em;
        margin-right: 1em;
        margin-left: 1em;
    }
    .correctedAnswer {
        margin-bottom: 1em;
    }
    .finalMessage {
        font-size: 5em;
    }
    .correctAnswers, .incorrectAnswers, .unanswered {
        font-size: 3em;
        line-height: 2em;
    }
    .startOver {
        font-size: 3.5em;
    }
}

@media screen and (max-width: 770px){
	.content{
		height: 57em;
        margin-top: 3em;
        margin-bottom: 3em;
        margin-right: 3em;
        margin-left: 3em;
        padding: 14em 0;
    }
    h2 {
        font-size: 3.5em;
        margin-bottom: 1em;
    }
    #timeRemaining {
        font-size: 2.1em; 
    }
    .questionTracker {
        font-size: 1.5em;
        margin-bottom: 2em;
    }
    .question {
        font-size: 2.5em;
        margin-bottom: 1em;
    }
    .thisChoice, .correctedAnswer {
        font-size: 1.8em;
    }
    .finalMessage {
        font-size: 4em;
    }
    .correctAnswers, .incorrectAnswers, .unanswered {
        font-size: 2.5em;
        line-height: 2em;
    }
    .startOver {
        font-size: 3em;
    }
}

@media screen and (max-width: 420px){
    .content{
		height: 44em;
        margin-top: 1em;
        margin-bottom: 1em;
        margin-right: 1em;
        margin-left: 1em;
        padding: 9em 0;
    }
    h1 {
        font-size: 2.5em;
        margin-bottom: 1em;
    }
    h2 {
        font-size: 3em;
        margin-bottom: 1em;
    }
    #timeRemaining, .message {
        font-size: 1.5em;
    }
    .questionTracker {
        font-size: 1em;
        margin-bottom: 2em;
    }
    .question {
        font-size: 1.8em;
        margin-bottom: 1em;
    }
    .thisChoice, .correctedAnswer {
        font-size: 1em;
        margin-right: 2em;
        margin-left: 2em;
    }
    .finalMessage {
        font-size: 2em;
    }
    .correctAnswers, .incorrectAnswers, .unanswered, .startOver {
        font-size: 1.5em;
        line-height: 2em;
    }
    .finalMessage {
        font-size: 2.5em;
    }
    .startOver {
        font-size: 1.1em;
    }
    .imgStyle {
        width: 290px;
        border: .3em ridge rgb(130, 82, 1);
    }
}

@media screen and (max-width: 380px){
    .content{
		height: 48.5em;
        margin-top: 1em;
        margin-bottom: 1em;
        margin-right: 1em;
        margin-left: 1em;
        padding: 10em 0;
    }
    h1 {
        font-size: 2.5em;
        margin-bottom: 1em;
    }
    h2 {
        font-size: 3em;
        margin-bottom: 1em;
    }
    #timeRemaining, .message {
        font-size: 1.5em;
    }
    .questionTracker {
        font-size: 1em;
        margin-bottom: 2em;
    }
    .question {
        font-size: 1.8em;
        margin-bottom: 1em;
    }
    .thisChoice, .correctedAnswer {
        font-size: .998em;
    }
    .finalMessage {
        font-size: 2em;
    }
    .correctAnswers, .incorrectAnswers, .unanswered, .startOver {
        font-size: 1.5em;
        line-height: 2em;
    }
    .imgStyle {
        width: 290px;
        border: .2em ridge rgb(130, 82, 1);
    }
}
@media screen and (max-width: 365px){
    .content{
		height: 38em;
        margin-top: 1em;
        margin-bottom: 1em;
        margin-right: 1em;
        margin-left: 1em;
        padding: 6em 0;
    }
    h1 {
        font-size: 2.5em;
        margin-bottom: 1em;
    }
    h2 {
        font-size: 3em;
        margin-bottom: 1em;
    }
    #timeRemaining, .message {
        font-size: 1.2em;
    }
    .questionTracker {
        font-size: .9em;
        margin-bottom: 2em;
    }
    .question {
        font-size: 1.6em;
        margin-bottom: 1em;
    }
    .thisChoice, .correctedAnswer {
        font-size: .9em;
    }
    .finalMessage {
        font-size: 2em;
    }
    .correctAnswers, .incorrectAnswers, .unanswered, .startOver {
        font-size: 1.5em;
        line-height: 2em;
    }
    .imgStyle {
        width: 270px;
        border: .2em ridge rgb(130, 82, 1);
    }
}